<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I&rsquo;m a dynamic engineer with a robust background in designing and implementing advanced solutions across diverse business sectors.
      Confident working within cross-functional teams, I have led small teams of developers, testing engineers, and data scientists,
      consistently delivering complex projects on time and within strict budget constraints.
    </p>

    <p>
      I&rsquo;m expert in analysing business requirements and in leveraging cutting-edge technologies to drive innovation and efficiency,
      collaborating with key stakeholders to achieve strategic objectives and enhance service delivery.
    </p>

    <p>
      I love working on my home automation and IoT applications projects;
      when I&apos;m not in front of a computer screen, I&apos;m probably running (my half-marathon personal record is 1:29), or walking around to shoot landscape and nature photos.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
