<section class="section custom-skills">
  <div class="section__title">Skills</div>
  <div class="section__content">
    <p>I’ve picked up quite a few skills during my work experience, and aim to improve these skills everyday.
      Here are a few of the technologies that I have experience with:
    </p>
    {% for skill in site.data.skills %}
    <div class="custom-skill">
      <div class="custom-skill__name">
        <strong>{{skill.name}}</strong>
      </div>
      <div class="custom-skill__used">
        {% for item in skill.items %}
        <span class="custom-skill__used__item">{{item.item}}</span>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</section>