.avatar {
  max-width: 150px;
  height: auto;
  border-radius: 15%;
  object-fit: cover;
}

/* For smaller screens (like smartphones), adjust the size */
@media screen and (max-width: 768px) {
  .avatar {
    width: 40% !important; /* Adjust the percentage to suit smaller screens */
  }
}